*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  background-color: #FFF5E2;
  font-family: 'Lato', sans-serif;
}

.mg20px {
  margin-bottom: 20px;
}

.demiwrap {
  width: 50%;
  background-color: #fff;
}

header {
  background-color: #FDBB40;
  padding: 30px;
}

main {
  padding: 30px;
}

#burger_name {
  width: 80%;
  border: none;
  font-size: 25px;
}

.wrap_ingredients {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.list_burger, .list_burger2 {
  list-style: none;
  font-size: 18px;
}

.li_ingredients {
  display: flex;
  align-items: center;
  padding: 13px 0;
}

.li_ingredients img {
  padding: 10px;
  height: 100px;
}

.label_ingredients {
  display: flex;
  align-items: center;
}

.burger_stuff {
  margin-left: 10px;

}

.add {
  margin-left: 10px;
  color: #D33359;
}

#discount {
  width: 75%;
  border-radius: 10px;
  border: none;
  background-color: #FFF5E2;
  height: 25px;
  margin-left: 10px;
}

.btn_calculate {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#calculate {
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 100px;
  background-color: #FDBB40;
  font-size: 16px;
}

.title_coupon {
  display: inline-block;
}

footer {
  background-color: #D33359;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 21px;
  font-size: 24px;
}
